.components-imagecube {
    position: relative;
    width: 100%;
    padding: 100% 0 0 0;
    overflow: hidden;
}
.components-imagecube-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}
.components-imagecube-loading::before {
    content: " ";
    background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-size: 400% 100%;
}
.components-imagecube-loading::after {
    content: " ";
    background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-size: 400% 100%;
    animation: backgroundLoading 1.6s infinite cubic-bezier(0.1, 0.25, 0.25, 0.1);
}

@keyframes backgroundLoading {
    0% {
        background-position-x: -20%;
    }
    50% {
        background-position-x: 70%;
    }
    100% {
        background-position-x: -20%;
    }
}
