.search-item {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.search-item-images {
	padding: 1%;
}
.search-item-pict-url {
	width: 100%;
	padding: 0 0 1% 0;
}
.search-item-small-images {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.search-item-small-image {
	width: 33%;
	margin: 0 0.5% 0 0;
}
.search-item-small-image:last-child {
	margin: 0;
}

.search-item-coupon-info {
	padding: 0.5% 1% 1% 1%;
}
.search-item-coupon-info > div {
	padding: 5px 0 0 0;
}
.search-item-title {
	color: black;
	font-size: 20px;
	line-height: 24px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.search-item-coupon-info-and-time {
	/* display: flex;
	flex-direction: row;
	justify-content: space-between; */
}
.effective-date {
	white-space: nowrap;
	min-width: 0;
	font-size: 13px;
	line-height: 16px;
	color: darkgray;
}
.search-item-price {
	display: flex;
	flex-direction: row;
}
.search-item-price > div {
	padding: 0 0 0 5px;
	text-decoration: line-through
}
.search-item-price > div:last-child {
	text-decoration: unset;
}
.search-item-reserve-price {
}
.search-item-zk-final-price {
}
.search-item-zk-price {
}

.search-item-provcity-and-shop-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.search-item-provcity {
	flex: 2;
	white-space: nowrap;
	min-width: 0;
	text-overflow: ellipsis;
	overflow: hidden;
}
.search-item-shop-title {
	flex: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
